
.carrito {
    padding: 100px;
    
}

.carrito-vacio {
    margin-top: 100px;
  }
  
  .carrito-vacio div {
    font-size: x-large;
  }
  
  .carrito-vacio img {
    width: 50%;
  }

   /*Estilos CartWidget*/
   .cart {
    width: 40px;
    padding-top: 5px;
    padding-left: 5px;
  }
  
  .cart-div:hover {
    transform: scale(1.15);
    filter: opacity(0.8);
  }

  .cerrado {
    display: none;
  }

  

  .abierto {
    z-index: 9999;
    width: 30%;
    height: 80%;
    margin-top: 100px;
    position: fixed;
    top:-5%;
    background-color: rgb(245, 243, 243);
    padding: 20px
  }

  

  @media only screen and (max-width: 426px) {
    .abierto{
      width: 300px;
    }
    .carrito {
      padding-bottom:0;
      padding-left:0;
      padding-right:0;
    }
    
    .descripcion-pdto-encarrito,
        .lugar-de-envio {
            font-size: smaller;
        }

        .descripcion-pdto-encarrito {
            font-weight: bold;
        }
  }