.producto {
    max-width: 400px;
  }

.producto .cantidad-carrito {
    width: 65px;
}

.contenedor-cards {
    padding-top: 50px;
}

.precio {
    font-size: 1.5rem;
    font-weight: bold;
}

.productos-destacados {
    padding-top: 100px;
    font-size:x-large;
}

.detalles {
    padding-top: 100px;
}